@media screen and (min-width: 1350px;) {
	body {
		min-width: 100%;
	}	
}


/*body {
	min-width:100%;
}

body {
	min-width:1350px;
}*/

.header,.footer {
	min-height: 100px;
	margin-bottom: 10px;
	background-color: #34496e;
	/*border: 1px dashed red;*/
}
/*.content {
	*background-color: #cccccc;
}*/

.layout-positioner {
	width: 70%;
	margin: 0 auto;
	/*border: 1px dashed red;*/
	background-color: #cccccc;
}
.layout-positioner::after {
	content: "";
	display: table;
	clear: both;
}

.sidebar {
	float: left;
	width: 100px;
	padding-top: 10px;
	padding-left: 10px;
	visibility: hidden;

}

.mainField {
	margin: 0 auto;
}

.results {
	box-sizing: border-box;
	width: 50%;
	min-height: 100px;
	margin: 10px auto;
	/*border: 1px dashed green;*/
	padding: 30px 0;
}

.X {	
	float: left;
}

.O {
	float: right;
}

.X,.O {
	width: 45%;	
	text-align: left;
	font-size: 20px;
	background-color: #34496e;
	color: #cccccc;
	/*border: 1px dashed black;*/
}

.X td, .O td {
	padding: 0 20px;
}

.tdScoreX, .tdScoreO {
	text-align: right;
}

.stringInform {
	width: 50%;
	text-align: center;
	font-size: 20px;
	background-color: #34496e;
	color: #cccccc;
	/*border: 1px dashed green;*/
	margin: 0 auto;
	margin-bottom: 10px;
}

.mainTable {
	min-width: 300px;
	margin: 0px auto;
}

.cell {
	width: 100px;
	height: 100px;
	border: 3px solid #34496e;
	text-align: center;
}

.start {
	width: 50%;
	margin: 10px auto;
	padding: 5px auto;
	/*border: 1px dashed green;*/
	text-align: center;
	
}

.button {
	width: 50%;
	margin: 10px auto;
	background-color: #34496e;
	color: red;

}

.footer {
	padding-top: 10px;
}

.footer img {
	float: left;
}

.footer p{
	font-size: 40px;
	color: red;
	text-align: center;

}
