/*GENERAL STYLES*/
/*ul li {
	list-style-type: none;: 
}*/

/*HEADER*/

.header ul li {
	list-style-type: none;: 
}
.header {
	height: 100px;
	padding:50px 0;
	background-color: pink;
	margin: 10px auto;
}

.header img {
	position: relative;
	bottom:  3 0%;
	text-align: left;
	float: left;
}

.header li {
	position: relative;
	left: 40%;
	float: left;
	padding: 0px 10px 0px 10px;
	text-align: center;}

/*MAIN PART*/

.mainpart {
	width: 100%;
	height: 700px;
	display: inline-block;
}
.mainpart aside {width: 33%;
	height: 700px;
	float: left;
	background-color: gray;
	display: inline;
}

.aside {
	display: block;	
}

.results,
.LoginForm,
.achivements {
	display: block;
	height: 220px;
	margin: 5px 5px 5px 5px;
	border: 2px solid black;
}

.results h3,
.LoginForm h3,
.achivements h3{
	text-align: center;
	color: black;
}	

.results td,
.achivements td {
  color: blue;
  border: 2px solid black;
  text-align: center;
 } 

.LoginForm input {
	display: block;
}


.LoginForm input[type="submit"]{
	background-color: #4267b2;
}

.main {
	width: 67%;
	height: 700px;
	float: right;
	background-color: lightgray;}


.main h3 {
	text-align: center;
	color: blue;
}


.TablePlayer1,
.MainTable,
.TablePlayer2 {
	display: inline-block;
	float: left;
	width: 33.33%;
	height: 500px;
	box-sizing: border-box;
	border: 2px solid gray;
}

.TablePlayer1,
.TablePlayer2{
	padding-left: 100px;
	padding-top:  200px;
}

.MainTable {
	padding-left: 100px;
	padding-top:  75px;
}

.start {
	display: block;
	padding-top: 20px;
	clear: both;
}



.main table, td {
border: 2px solid gray;	
}


/*FOOTER*/
.footer {
	height: 100px;
	background-color: pink;
	color: red;
	text-align: center;
	/*padding-top: 50px;*/
	margin: 10px auto;
}
.footer p {
	padding-top: 45px;
}


/* SKELETON HACKS */

th:first-child,
td:first-child {
  padding: 12px 15px; }
th:last-child,
td:last-child {
  padding: 12px 15px; }